<form action="/recipes" method="post">
    <p><label for="title">Recipe Name</label></p>
    <input type="text" name="name">
    <p><label for="ingredients">Ingredients</label></p>
    <input type="text" name="ingredients">
    <p><label> for="cook_time">Cook Time</label>?</p>
    <input type="text" name="cook_time">
    Submit <input type='submit' value="Submit">
        </form>

</form>