<body>
    <form method="POST" action="/recipes">
        Recipe: <input type="text" name="name">
        Ingredients: <input type="text" name="ingredients">
        Cook Time: <input type="number" name="cook_time">
        <input type="submit" name="Submit">
    </form>
</body>